*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #e05072;
    margin: 0 15%;
}

h1{
    text-align: center;
    color: white;
    padding-bottom: 3%;
    padding-top: 10%;
}

ul{
    list-style-type: none; 
    display: flex;
    justify-content: space-evenly;
}

#form ul li{
    text-align: center;
}

#form li h4 {
    margin-bottom: 10%;
}

li h4{
    font-size: 20px;
}

#form, #biglietto{
    background-color: white;
    
    border-radius: 10px;
    padding: 3% 5%;
}

#form{
    text-align: center;
}

input{
    height: 50%;
    width: 200px;
    border-radius: 5px;
    border: solid 1px #e05072;
}

button{
    text-align: center;
    border: solid 1px black;
    font-size: 14px;
    color: #e05072;
    font-size: 18px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    margin: 0 2%;
    margin-top: 5%;
}

button:hover{
    border: solid 1px #e05072;
    cursor: pointer;
}

#biglietto li:first-of-type{
    background-color: rgb(171, 171, 171);
}


#biglietto li:first-of-type {
        padding-left: 5%;
        padding-right: 5%;
}

#biglietto li:first-of-type p{
    margin-top: 10px;
    font-weight: bold;
}

#biglietto li{
    padding: 5% 0;
}

#biglietto ul{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    justify-content: space-between;

}

#biglietto p{
    margin-top: 40px;
}

.nascondi{
    display: none;
}

.mostra{
    display: block;
}